<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>bufet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.zuckonit.bufet.App</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>bufet</servlet-name>
        <url-pattern>/store/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider,com.zuckonit.bufet.utils.ObjectMapperProvider</param-value>
    </context-param>
</web-app>